/abs.js
/arithmetic.js
/array.js
/asr.js
/assert.js
/blur.js
/case.js
/cast.js
/chr.js
/const.js
/export.js
/floor.js
/flt.js
/for.js
/if.js
/inc_dec.js
/is.js
/js_keyword.js
/js_module.js
/js_var.js
/len.js
/logical.js
/lsl.js
/man_or_boy.js
/module.js
/modules.js
/new.js
/nil.js
/odd.js
/ord.js
/pack_unpk.js
/parentheses.js
/pointer.js
/proc.js
/proc_local.js
/record.js
/relations.js
/repeat.js
/ror.js
/set.js
/string.js
/var_parameter.js
/while.js
